<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AddGenreDAO">



	<insert id="addGenre" parameterType="GenreDTO">
		INSERT INTO
		GENRES(GEN_NUM,GEN_NAME)
		VALUES(GENRES_SEQ.nextval,#{genName})

	</insert>

	<delete id="delGenre" parameterType="Long">
		DELETE FROM GENRES WHERE "GEN_NUM"=#{genNum}
	</delete>
	
	<select id="viewGenreAll" resultType="hashMap"
		parameterType="hashMap">
		select * from GENRES
		
		<!-- select COUNT(*) from genres where gen_name = #{genname} -->
	</select>

</mapper>